.qa-h2{
 font-weight: bold;
 font-size: 32px;
 line-height: 1.5;
 margin-bottom: 36px;
 margin-top: 60px;
 font-family: $font-noto;
}
.regular-qa{
    margin-bottom: 128px;
    font-family: $font-noto;
   li{
       margin-bottom: 32px;
    h3{
        font-size: 20px;
        line-height: 1.4;
        font-weight: bold;
    }
    
   }  


}
.regular-qa li{
    p{
        padding-left: 90px;
        margin-top: 16px;
    }
}
