
$primary:#AA0601;
$primary-dark:#650300 ;
$secondary: #fff;
$dark-second:#555555;

$padding-left:6px ;
$pl-2: $padding-left * 2;
$pl-3: $padding-left * 3;
$pl-4: $padding-left * 4;

$padding-right:6px ;
$pr-2: $padding-right * 2;
$pr-3: $padding-right * 3;
$pr-4: $padding-right * 4;

$font-noto: 'Noto Sans TC', sans-serif;
$font-roboto: 'Roboto', sans-serif;